/* variables */
/* colors */
$header-color: #2F4156;
$background-color: #F5EFEB;
$black: #000;
$white: #fff;
$light-text: #f1edea;
$shadow: rgba(0, 0, 0, 0.3);

/* fonts */
$font-stack: 'Arial', sans-serif;

/* placeholder */
%hoverLink {
    color: $light-text;
    text-decoration: underline;
}

/* mixins */
//mixin för grid
@mixin grid ($height, $columns: 2) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    height: $height;
}

//mixin för textbox
@mixin textBox($width, $padding, $margin, $box-shadow: 0, $border: 0) {
    width: $width;
    margin: $margin;
    padding: $padding;
    box-shadow: $box-shadow;

    @if $border !=0 {
        border: $border;
    }

    @if $box-shadow !=0 {
        box-shadow: $box-shadow;
    }
}

//mixin för knappar
@mixin button($bg-color, $text-color, $padding, $margin, $max-w, $textalign, $fontsize, $border: false) {
    @if $border ==true {
        background-color: $bg-color;
        color: $text-color;
        border: 2px solid $text-color;
        
        &:hover {
            background-color: transparent;
        }
    }

    @else {
        background-color: $bg-color;
        color: $text-color;
        border: none;

        &:hover {
            background-color: lighten($bg-color, 20%);
        }
    }

    padding: $padding;
    margin: $margin;
    max-width: $max-w;
    text-align: $textalign;
    font-size: $fontsize;
    cursor: pointer;
}