/* variables */
/* colors */
$header-color: #2F4156;
$background-color: #F5EFEB;
$black: #000;
$white: #fff;
$light-text: #f1edea;
$shadow: rgba(0, 0, 0, 0.3);

/* fonts */
$font-stack: 'Arial', sans-serif;