@use "abstracts";

//index page
.container {
    @include abstracts.grid(90%, 1);
}

.experience-item {
    @include abstracts.textBox(90%, 1rem 1.5rem, 1rem auto, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);

    p {
        margin-bottom: 0.3rem;
    }
}

.delete-button {
    @include abstracts.button(abstracts.$header-color, abstracts.$light-text, 0.5rem 1rem, 0 auto, 100%, center, 1rem, false);
}


form {
    margin: 1rem auto 2rem;
    max-width: 90%;
    padding-bottom: 1rem;


    input[type="text"],
    input[type="url"],
    input[type="date"],
    textarea,
    select,
    .submit-btn {
        height: 2rem;
        margin: 0.5rem auto 1.5rem;
        border: 1px solid rgb(200, 200, 200);
    }

    select:hover {
        cursor: pointer;
    }

    input[type="text"],
    input[type="url"] {
        width: 100%;
    }

    select {
        margin-left: 0;
    }

    label {
        text-align: left;
    }

    .submit-btn {
        width: 70%;
        height: 3rem;
        background-color: abstracts.$header-color;
    }

    .submit-btn:hover {
        cursor: pointer;
        background-color: rgba(149, 182, 217, 0.576);
    }

    .btn {
        text-align: center;
    }
}